.container {
  margin: 30px auto;
  border-radius: 15px;
  background: #bcdffc;
  padding: 10px;
  font-size: 15px;
  font-family: "Chivo Mono", monospace;
  max-width: 600px;
}
ul {
  list-style: none;
  font-family: "Chivo Mono", monospace;
  font-size: 17px;
  text-align: left;
}
#search-button {
  color: black;
  background: #bcdffc;
  border: 2px solid #bcdffc;
  transition: all 200ms ease-in-out;
}
#search-button-current {
  color: black;
  background: #bcdffc;
  border: 2px solid #bcdffc;
  transition: all 200ms ease-in-out;
}
#search-button:hover,
#search-button-current:hover {
  color: black;
  background: white;
  border: 2px solid #bcdffc;
}
.card-title {
  font-family: "Lobster", cursive;
  font-size: 20px;
}
#city {
  border: 2px solid #bcdffc;
}
h4 {
  text-align: center;
  font-weight: 800;
}
.card {
  text-align: center;
}
.card.text {
  font-size: 15px;
}
#temperature {
  font-size: 40px;
}
#celsius-link {
  font-size: 20px;
  top: -100px;
}
#tittle {
  font-size: 40px;
}
#celsius-link {
  text-decoration: none;
  position: relative;
  top: -15px;
}
